
<script type="text/javascript">
  
  $(document).ready(function() {
    
    <% @rooms.each_with_index do |room, i| %>
      // create_new_row(room_number, room_name, calendar_id, calendar_name)
      create_new_row(<%= "
        #{room.display.id},
        '#{CGI::escapeHTML(room.room_name.gsub("\\","\\\\\\\\"))}',
        '#{CGI::escapeHTML(room.calendar_id)}',
        '#{CGI::escapeHTML(room.calendar_name.gsub("\\","\\\\\\\\"))}'
        " %>);
    <% end %>
  });
  
</script>
