#room-list
  %table
    %tr
      %th
        Room
      %th
        Occupied?
      %th
        Next Meeting
      %th
        Reserve
    - @rooms.each do |r|    #note that this is basically a stub for whatever data structure I actually use
      %tr
        %td
          = r.room_name
        %td
          = (r.next_start && r.next_end && r.next_start <= Time.now && r.next_end > Time.now) ? "Yes" : "No"
        %td
          = (r.next_start && r.next_start > Time.now) ? r.next_start.strftime("%I:%M%p %m/%d") : r.next_next_start ? r.next_next_start.strftime("%I:%M%p %m/%d %Z") : "N/A"
        %td
          =# reserve link

